p {
  background-color: rgb(194, 131, 157);
  font-family: "Verdana", "DejaVu", "Sans", sans-serif;
}

#second {
  color: rgb(82, 184, 243);
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(143, 231, 71);
  font-size: 24px;
  font-weight: bold;
}
